body {
    background-color: forestgreen;
    color: white;
}

h1 {
    font-weight: bold;
}

ul {
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-decoration: underline;
    color: lightblue;
}

p {
    font-family: Tahoma, sans-serif;
    font-size: 30px;
}